<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="homepage">
    <%- include('navbar', {navbarElements: navbarElements}) %>

    <h1><%= title %></h1>
    <div>
        <ul>
            <% gamesData.forEach(game => { %>
              <li>
                <p><%= game.name %></p>
                <p><%= game.price %></p>
                <p><%= game.categories %></p>
              </li>
            <% }); %>
        </ul>
    </div>
  </body>
</html>