<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="homepage">
    <%- include('navbar', {navbarElements: navbarElements}) %>

    <h1 class="headerTitle"><%= title %></h1>

    <div class="categoriesSelectionContainer">
      <h1 class="sidebarHeader">All Existing Game Categories </h1>
      <ul class="categoriesSelection">
        <% AvailableCategories.map(categories => { %>
          <li class="sidebarLink"> <%= categories.category %> 
          <a><img class="crossImage" src="/images/cross.svg"></a></li>
        <% }); %>
      </ul>
    </div>

    <div class="gamesGridContainer">
        <ul class="allGamesGrid">
            <% gamesData.map(game => { %>
              <li class="gamesGridList">
                <p class="gameTextStyling name"><%= game.name%></p>
                <p class="gameTextStyling price"><%= game.price == 0.00 ? 'Free' : game.price %></p>
                <div class="gameTextStyling categories"><% game.categories.map(category => { %>
                  <span class="categoryStyling"><%= category %></span>
                <% }); %></div>
                <a href="/updateGame" class="updateButton">Update</a>
                <button class="removeButton">Remove</button>
              </li>
            <% }); %>
        </ul>
    </div>
  </body>
</html>